
.search-mainContainer {
    display: flex;
    flex-direction: row;
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.search-carsAvailableText {
    font-size: 35px;
    margin-bottom: 10px;
}

.search-displayContainer {
    max-width: 75%;
}

.search-listContainer {
    display: flex;
    flex-wrap: wrap;
}

.search-paginationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.search-paginationText {
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: 0px;
}

.search-paginationButtons {
    
}