
.search-mainContainer {
    display: flex;
    flex-direction: row;
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.search-carsAvailableText {
    font-size: 35px;
    margin-bottom: 10px;
}

.search-displayContainer {
    max-width: 75%;
}

.search-listContainer {
    display: flex;
    flex-wrap: wrap;
}