.vehicleDisplayContainer {
  background-color: whitesmoke;
  padding: 16px;
  margin: 4px;
  flex-grow: 1;
  min-width: 25%;
  max-width: 50%; }

.vehicleImage {
  object-fit: contain;
  width: 100%;
  height: auto; }

.headerInfo {
  display: flex;
  align-items: flex-end;
  flex-direction: column; }

.pricingText {
  font-size: 22px;
  font-weight: 500; }

.pricingSubtext {
  font-size: 12px; }

.vehicleYear {
  color: #001eff;
  font-size: 14px; }

.vehicleModel {
  font-size: 18px;
  padding: 1px 0; }
