
.vehicleDisplay-container {
    background-color: rgb(245, 245, 245);
    padding: 16px;
    margin: 4px;
    flex-grow: 1;
    min-width: 25%;
    max-width: 50%
}

.vehicleDisplay-vehicleImage {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.vehicleDisplay-headerInfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.vehicleDisplay-pricingText {
    //font-family: 'GT-Walsheim-Pro-Medium';
    font-size: 22px;
    font-weight: 500;
}

.vehicleDisplay-pricingSubtext {
    font-size: 12px;
}

.vehicleDisplay-vehicleYear {
    color: rgb(0, 30, 255);
    font-size: 14px;
}

.vehicleDisplay-vehicleModel {
    font-size: 18px;
    padding: 1px 0; 
}